.artistCardWrapper {
    text-align: center;
}
.card {
    background: #fff;
    border-radius: 2px;
    height: auto;
    margin: 10px;
    position: relative;
    width: 275px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    display: inline-flex;
    margin-bottom: 70px;
  
  }
  
  .card > .img-container {
    height: 60%;
    
    text-align: center;
    background: black;
  }
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 0%;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }
  
  .artistCardWrapper .img-div {
    width: 165px;
    height: 165px;
    background-position: center;
    background-size: cover;
    margin: auto;
  }