.cards {
  background: #fff;
  border-radius: 2px;
  margin: 10px;
  position: relative;
  width: 275px;
  box-shadow: 0 3px 6px #d2b57f, 0 3px 6px #d2b57f;
  display: flex;

  
  }
  
  .cards > .service-img-container {
  
    
    text-align: center;
    background: black;
  }
  .cards > .service-img-container > img {
    width: 60%
  }
 
  

  .cards:hover {
    background-color: lightskyblue;
    cursor: pointer;
  }
  