.serviceCardWrapper {


}
.cards {
  background: #fff;
  border-radius: 2px;
  margin: 10px;
  position: relative;
  width: 275px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  align-self: flex-end;


  
  }
  
  .cards > .service-img-container {
    height: 60%;
    
    text-align: center;
    background: black;
  }
  .cards > .service-img-container > img {
    width: 60%
  }
 
  

  .cards:hover {
    background-color: lightskyblue;
    cursor: pointer;
  }
  