.searchBarComponent {
    margin: 60px auto 100px 300px;
    width: 500px;
    
}
.artistCardContainer {
    position: relative;
    height: auto;
    background-color: white;
    align-items: center;
    width: 100%
}

#page-loader {
    height: 100%;
    width: 100%;
  }

  #page-spinner {
    width: 200px;
    height: 200px;
  }