.editWrapper {
    position: relative;
    height: auto;
    width: 700px;
    line-height: 20px;
    background-color: black;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 30px;
    padding: 20px;
    border-color: #d2b57f;
    border-style: solid;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    color: #d2b57f;
}