.parallaxContainer {
    background-image: url("/images/Banner.png");
    /* Set a specific height */
    height: 200px;
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 992px) {
    .parallaxContainer {
        height: 500px;
    }
}