.artistProfilePicture{
    margin-top: 30px;
    margin-left: 30px;
 }
 .artistProfileInfo {
  position: absolute;
  color: white;
  line-height: 40px;
  margin-top: 30px;
  padding-left: 60px;
 
 }
 .artistProfileImages {
     position: relative;
     height: 500px;
     width: 50%;
   
     background-color: blue;
     border-style: double;
     border-color: white;
 }
 